#time-based-style {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: white;
    transition: background-image 1s ease, color 1s ease;

}

h1 {
    font-size: 5em;
    margin-bottom: 1em;
    color: bisque;
}

p{
    font-size: 1.5em;
    margin-top: 2em;
}

#time-display {
    font-size: 3em;
    font-family: Arial, sans-serif;
}

.dawn {
    background-image: url(https://i.pinimg.com/enabled_lo_mid/474x/69/2a/c5/692ac5940d9e8e8c5ae9c811dc279151.jpg);

}

.morning {
    background-image: url(https://images.unsplash.com/photo-1470252649378-9c29740c9fa8?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8bW9ybmluZ3xlbnwwfHwwfHx8MA%3D%3D);
}

.afternoon {
    background-image: url(https://i.pinimg.com/enabled_lo_mid/736x/80/83/3e/80833e4c4829e18d6a3fcde043586679.jpg);
    background-size: cover;
}

.evening {
    background-image: url(https://plus.unsplash.com/premium_photo-1673697239909-e11521d1ba94?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8c29pciVDMyVBOWV8ZW58MHx8MHx8fDA%3D);
}

.night {
    background-image: url(https://images.unsplash.com/photo-1534447677768-be436bb09401?q=80&w=2988&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

